body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: black; */
}

h1 {
    font-size: 180px;
}

button {
    display: none;
}